body {
  font-family: sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.top-bar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.top-bar__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-bar__item {
  font-size: 16px;
  line-height: 1;
  color: #2f4590;
  text-decoration: none;
}

.top-bar__btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #2f4590;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #2f4590;
}

.company__text {
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

/********** HERO ********/

.hero {
  display: flex;
  align-items: center;
  column-gap: 78px;
  margin-bottom: 100px;
}

.hero__desc {
  width: 464px;
}

.hero__desc-title {
  font-size: 32px;
  line-height: 38px;

  color: #2f4590;

  margin-bottom: 24px;
}

.hero__desc-text {
  font-weight: 325;
  font-size: 20px;
  line-height: 181%;

  color: #28303f;

  margin-bottom: 24px;
}

.hero__desc-link {
  display: inline-blok;

  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  background-color: #2f4590;
  border-radius: 28px;

  padding: 15px 52px;
}

/********** CAREER ********/

.career {
  margin-bottom: 100px;
}

.career__title {
  font-size: 36px;
  font-weight: 350;
  line-height: 66px;

  color: #2f4590;

  margin-bottom: 32px;
}

.career__list {
  display: flex;
  justify-content: space-between;
  column-gap: 27px;
}

.career__list-item {
  padding: 23px 50px 19px;

  background-color: #ecf5fb;
  border-radius: 32px;
}

.career__list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;

  color: #2f4590;
}

.career__list-text {
  font-size: 13px;
  line-height: 21px;

  color: #000000;
}

/*******JOB begin*****/

.job {
  display: flex;
  align-items: center;

  margin-top: 67px;
}

.job__info,
.job__content {
  background: #ecf5fb;
  border-radius: 32px;
}

.job__info {
  padding: 52px 28px;
}

.job__content {
}

.highlight {
  padding: 5px;
  background-color: #2f4590;
  color: #fff;
}